body {
    font-size: 10px;
    --prime-color: #4D13D1;
    --text-color: #000000bd;
}

.wrapper,
footer {
    font-size: 0.9rem;
    font-family: raleway, sans-serif;
    padding: 1rem 0;
    color: var(--text-color);
    font-weight: 700;
}

.wrapper ul,
footer ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none !important;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--prime-color);
    color: #fff;
    padding: 0.8rem 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

h1,
h3,
h2,
.rat,
.nav-bar {
    color: #000;
}


/* center margin */

.nav-bar,
.hero-flex,
.features,
.display,
.features-flex,
footer {
    margin: 0 auto;
}


/* nav bar */

.logo {
    font-weight: 700;
}

.menu ul,
.nav-sign,
.nav-bar,
.tick-cld,
.tick-flex,
.hero-flex,
.rating,
.trial-btn,
.features-flex,
.display,
.review,
.foot-flex {
    display: flex;
    align-items: center;
}

.features-flex,
.nav-bar,
.tick-flex,
.tick-cld,
.display {
    justify-content: space-between;
}

.menu ul a,
.nav-sign p {
    margin: 0 0.5rem;
}

.nav-bar {
    max-width: 80rem;
    padding: 0 2rem;
}

.sign-in {
    font-weight: bold;
    margin: 0 1rem;
}


/* main section */

.hero-flex {
    max-width: 90rem;
    padding: 4rem 0;
    justify-content: space-around;
}

.detail {
    padding: 2rem 0;
    max-width: 30rem;
}

.hero-flex h1,
.features h1 {
    font-size: 2.5rem;
    margin-top: -0;
}

.rat {
    font-weight: bold;
    margin-left: 1rem;
}

.more {
    color: var(--prime-color);
    text-decoration: underline;
    font-weight: bold;
    padding: 0 2rem;
}

.tick-cld svg {
    margin-right: 0.2rem;
}

.tick-flex {
    max-width: 25rem;
}

.hero-img img {
    max-height: 30rem;
}


/* features section */

.features>p {
    color: var(--prime-color);
    font-weight: bold;
}

.features>h1,
.features>p {
    max-width: 40rem;
}

.features {
    max-width: 80rem;
}

.features-cld {
    max-width: 18rem;
}

.features-flex {
    max-width: 60rem;
    padding: 2rem 0;
}


/* demo template */

.display {
    background-color: var(--prime-color);
    height: 30rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    max-width: 80rem;
}

.display h1,
.display {
    color: #fff;
}

.display button {
    color: var(--prime-color);
    background-color: #fff;
    font-weight: 800;
}

.display img {
    max-height: 28rem;
    margin: 2rem 2rem 0 0;
}

.description-display {
    max-width: 30rem;
    padding: 3rem;
}

.description-display p {
    max-width: 25rem;
    margin-top: -1rem;
}

.bg-img {
    height: 30rem;
}

.display p {
    padding: 1rem 0;
}


/* Review */

.review {
    margin: 5rem auto;
    max-width: 80rem;
    overflow: scroll;
}

.review h3 {
    color: var(--prime-color);
}

.review button {
    background-color: #fff;
    color: var(--prime-color);
    width: 20rem;
    margin-top: 1rem;
}

.review button,
.review-card {
    border: 0.1rem solid #00000021;
    border-radius: 0.2rem;
}

.review-card p {
    line-height: 1.4rem;
}

.review-card {
    max-width: 20rem;
    margin: 0 1rem;
    padding: 1rem;
    height: 15rem;
}

.feed {
    height: 6rem;
}


/* review grid */

.profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%) / 20% auto;
    height: 4rem;
    width: 15rem;
    align-items: center;
}

.profile-grid svg {
    grid-column: 1/2;
    grid-row: 1/3;
}

.profile-grid h3 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.profile-grid h3,
.profile-grid p {
    margin-left: -2rem;
}

.profile-grid p {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: -1rem;
}


/* footer section */

.foot-flex {
    align-items: flex-start;
    flex-wrap: wrap;
    line-height: 1.5rem;
    justify-content: space-evenly;
}

.fiber-foot {
    max-width: 20rem;
}

footer ul {
    margin-left: -2.5rem;
}

footer {
    max-width: 100rem;
}


/* mobile view */

@media screen and (max-width:830px) {
    .hero-flex {
        flex-wrap: wrap-reverse;
    }
    .features-flex {
        flex-direction: column;
    }
    .features-cld {
        margin: 1.5rem 0;
        max-width: 25rem;
    }
    .display {
        flex-direction: column;
    }
    .display img {
        height: 20rem;
    }
    .bg-img {
        overflow: hidden;
    }
    .foot-flex {
        margin: 0 1rem;
    }
    .f {
        margin: 0 3rem;
    }
}

@media screen and (max-width:590px) {
    .nav-bar {
        flex-direction: column;
    }
    .nav-sign {
        margin-top: 2rem;
    }
    .trial-btn,
    .tick-flex {
        flex-direction: column;
    }
    .more {
        margin: 1rem 0;
    }
    .hero-img img {
        height: 22rem;
    }
    .foot-flex {
        justify-content: flex-start;
    }
    .display img {
        height: 13rem;
    }
    .description-display {
        padding: 1rem;
    }
    .tick-flex {
        align-items: flex-start;
        margin: 0 auto;
        max-width: 20rem;
    }
    .tick-cld {
        margin: -0.4rem;
    }
    .foot-flex {
        margin-left: -3rem;
    }
    .hero-flex h1,
    .features h1 {
        font-size: 2rem;
    }
}