body {
    font-size: 10px;
    --prime-color: #4D13D1;
    --text-color: #000000bd;
}

.wrapper {
    font-size: 1rem;
    font-family: raleway, sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 700;
    display: flex;
    height: 55rem;
}

img {
    max-width: 27rem;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    color: var(--prime-color);
}

.sign-in {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid {
    max-width: 25rem;
    margin: 4rem;
}

#create {
    background-color: var(--prime-color);
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    min-width: 18rem;
    height: 2.5rem;
    border-radius: 0.3rem;
}

.scroll {
    background-color: var(--prime-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 70%;
    margin: -1rem;
}

.text {
    text-align: center;
}

.text>p {
    max-width: 26rem;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

form input {
    width: 15rem;
    height: 2.1rem;
    margin-bottom: 1.5rem;
}

form label {
    margin: 0.3rem 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input[type="text"],
input[type="password"] {
    border: 0.01rem solid #00000031;
    border-radius: 0.15rem;
    font-size: inherit;
    padding: 0 0.8rem;
}
/* mobile view */

@media screen and (max-width:480px) {
    .wrapper {
        flex-wrap: wrap;
    }
    img {
        max-width: 24rem;
    }
}